# How do people hear about AI?

In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import cmasher as cmr
import numpy as np
import math
import re
from db_utils import DbConnect

In [2]:
VAULT_DB_PATH = "postgres-storage/ai-education"
db_public = DbConnect(
    "../connection.config.yml", "../role-basic.config.yml"
).create_db_connection(f"{VAULT_DB_PATH}/public", "ai_education")
db_restricted = DbConnect(
    "../connection.config.yml", "../role-restricted.config.yml"
).create_db_connection(f"{VAULT_DB_PATH}/restricted", "ai_education")

In [3]:
responses_public = db_public.query("SELECT * FROM public.responses")
responses_public.set_index(responses_public["id"])
sources_public = db_public.query("SELECT * from public.responder_source_names")
domains_public = db_public.query("SELECT * FROM public.responder_domain_names")
responses_restricted = db_restricted.query("SELECT * FROM restricted.responses")

In [4]:
# TODO understand why this works
test = db_restricted.query("SELECT * FROM public.raw_data")

In [5]:
public_restricted_diff = responses_restricted[
    list(
        set(responses_public.columns).symmetric_difference(responses_restricted.columns)
    )
]
public_restricted_diff

,q6_n2_medicine,q6_n6_administration,q6_n1_education,q6_n5_marketing,q6_n4_constructions,q6_n7_art,q6_n3_agriculture
0,True,False,True,True,False,False,False
1,True,False,False,False,True,False,True
2,False,True,True,True,False,False,False
3,True,False,True,False,False,False,False
4,True,False,True,False,True,False,True
...,...,...,...,...,...,...,...
86,True,False,True,False,False,False,False
87,True,False,True,False,False,False,False
88,True,True,True,True,True,False,True
89,True,False,False,False,False,False,False
90,True,True,False,False,True,False,False

In [7]:
responses_public.sum()

id                                      4186.0
q1_ai_knowledge                          538.0
q2_n1_internet                            74.0
q2_n2_books_and_papers                    32.0
q2_n3_social_media                        40.0
q2_n4_discussions                         18.0
q2_n5_not_informed                         6.0
q3_n1_ai_dehumanization                  229.0
q3_n2_job_replacement                    291.0
q3_n3_problem_solving                    382.0
q3_n4_ai_ruling_society                  221.0
q4_n1_ai_costly                          325.0
q4_n2_economic_crisis                    233.0
q4_n3_economic_growth                    333.0
q4_n4_job_loss                           309.0
q5_feelings                              144.0
q7_utility_grade                         677.0
q8_advantage_teaching                    175.0
q9_advantage_learning                    171.0
q10_advantage_evaluation                 205.0
q11_disadvantage_educational_process     191.0
q12_gender                               123.0
q13_year_of_study                        148.0
q14_major                                175.0
q15_passed_exams                          68.0
q16_gpa                                  709.7
dtype: float64